html, body{
    margin: 0;
    padding: 0;
}

// .title{
//     text-align: center;
//     font-size: 40px;
//     color: #6a6a6a;
//     margin-top: 100px;
//     font-weight: 100;
//     font-family: 'Roboto', sans-serif;
// }


.containerCards{
    width: 55vw;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.containerCards .card{
    width: 250px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.containerCards .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.containerCards .card img{
    width: 100%;
    height: 12em;
    margin:0;
}


.containerCards .card h4{
    font-weight: 600;
}

.containerCards .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.containerCards .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}
































































