html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw !important;
    height: 100vh !important;
    box-sizing: border-box;
}


.container {
    position: absolute;
    right: 20em;
    margin-top: 2em;
    z-index:999;
  }

.containerSECCIONES {
    position: absolute;
    right: 7em;
    width: 10em;
    margin: 2em 0 0 0;
    z-index: 999;
}


@media (min-width: 2500px) {
    .nav{
       
        margin-left: 800px;
        height: 100px;
        
    }
    .nav-menu-link{
        font-size: 25px;
    }
    .logo{
        margin-left: -190px;
        width: 220px;
        height: 115px;
    }
    .video{
        margin-left: 672px;
        width: 200%;
        height: 100%;
    }
}

/* Escritorios Muy grandes */

// @media (min-width: 1024px)and (max-width: 1439px){
//     .nav{
//         margin-left: 70px;
//     }
//     .nav-menu-item{
//         height: 90px;
//         margin-right: 5px;
//         padding: 7px -2px;
//         margin: 0px 5px;;
        
//     }
//     ul .nav-menu{
//         margin: -5px 2px;
//     }
//     .nav-menu-link{
//         font-size: 17px;
//     }
//     .logo{
//         margin-left: 7em;
//         width: 150px;
//         height: 80px;
//         margin-top: 5px;
//     }
//     .video{
//         margin-left: 222px;
//         width: 600px;
//         height: 300px;
//         margin-top: 160px;
//     }
//     .menure {
//         margin-right: -4%;
//         margin-top: 1.5%;
      
//     }
    
// }


























































/* Tabletas en horizontal y escritorios normales */
@media (min-width: 490px) and (max-width:1023px){
    /* logo */
    // .logo {
    //     margin-left: 2.5%;
    // }
 /* Vídeo Nutrifit Living */
.video {
    width: 550px;
    height: 270px;
     margin-top: 15%;
     margin-left: 15.3%;
  }
 /* formulario registro */
 .contenedor__todo{
    width: 90%;
    margin-top: 5%;
}


/* equivalencias */
.containerEquivalencias {
    padding: 40px;
    padding-top: 5px;
    width: 1500px;
    gap: 15px;
    border: green 9px solid;
}

.titulo_de_equivalencias {
    position: relative;
    margin-top: 45%;
    margin-left: 70%;
    font-size: 5rem;
}

.centarcontentEquivalencias {
    margin-left: 150%;
    margin-top: 20%;
}

.itemsEquvalencias {
    width: 730px;
    font-size: 3em;
}

/* footer */
.pie-pagina {
    width: 300%;
}
.tycondiciones {
   
    margin-top: 5%;
  
}
/* dieta */
.menu {
    margin-right: -200%;
    margin-top: 15%;
}

.titulo_de_servicios {
    margin-top: 40%;
    margin-left: 70%;
    font-size: 6.5em;
}
.dieta {
   width: 200%;
    margin-left: 50%;
}
.menure {
    margin-right: -1%;
    margin-top: 7.5%;
  
}


/* footer */
.containerfooter {
    width: 295%;
    background: rgba(0, 122, 53, 0.89);
    margin-top: 90%;
}

.item-1{
    height: 280px;
}


.item-2{
    font-size: 250%;
}

.item-3{
height: 90px;
font-size: 350%;
}

.imagenfooter{
    width: 550px;
    margin-top: 12%;
}
.ImagenFooterOpccion2{
  width: 550px;
  margin-top: 5%;
}



/* menus desplegables */
.menuSECCIONES {
    margin-right: -120%;
    margin-top: 15%;
}


.nombreDEpaginadondeseencuantraSECCIONES {
    font-size: 3em;
}
.nombreDEpaginadondeseencuantra {
    margin: 0%;
    font-size: 3em;
}

/* lugares recomendados */
.contenedorservicios {
    justify-content: space-evenly;
    width: 300%;
    margin-top: 180px;
}

.fexcajas {
    margin: 3rem;
    width: 500px;
    height: 500px;
    border-radius: 2.5%;
    border: 2.5px solid rgb(216, 216, 216);
}


.imga{
    width: 450px;
    margin: 5%;
  }



/* productos recomendados */
.fexcajasPR {
    background: white;
    border: 1.5px solid rgb(216, 216, 216);
    border-radius: 1.5%;
    margin: 1rem;
    width: 550px;
    height: 550px;
}

.contenedorserviciosPRODUCTOS {
   width: 300%;
   justify-content: space-evenly;
   margin-top: 25%;
   gap: 30px;
}

.fexcajasPR > img {
    width: 440px;
    margin: 10%;
    margin-top: 2%;
}
.titulo_de_servicios_productos {
    margin-top: 40%;
    margin-left: 110%;
    font-size: 8rem;
  }

  .boton_soriana {
    border: 2px solid #F53D00;
    border-radius: 10px;
    padding: 7px 19px;
    font-size: 1.5rem;
    margin: 10px;
    margin-top: -3.2%;
    width: 225px;
}
.boton_walmart {
    font-size: 1.5rem;
    margin-left: 290px;
    width: 225px;
    margin-top: -3.2%;
}
.boton_aurrera {
    font-size: 1.5rem;
    margin: 10px;
    margin-top: -3.2%;
    width: 220px;
}

/* Recetarios */

.contenerya {
    display: flex;
    margin-top: -6%;
    flex-direction: row;
    width: 270%;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 550px;
    height: 600px;
    margin-top: 5%;
    margin: 4.5rem;
}
.card .back {
font-size: 30px;

}









}

























































/* Móviles en horizontal o Tablets en verticaal */
@media (max-width: 767px) and (min-width:481px ) {
  /* logo */
  .logo {
    margin-left: 3.5%;
}

.video {
    width: 450px;
    height: 200px;
    margin-top: 25%;
    margin-left: 20.3%;
  }

   /* formulario registro */
.contenedor__todo{
    width: 75%;
    margin-top: 5%;
}
/* dieta */
.menu {
    margin-right: -200%;
    margin-top: 2%;
}

.titulo_de_servicios {
    margin-top: 10%;
}
.dieta {
   
    margin-left: 20%;
}

/* equivalencias */
.titulo_de_equivalencias {
    margin-left: 80%;
    margin-right: 60%;
    font-size: 2.3rem;
    margin-top: 50%;
}
.menuSECCIONES {
    margin-right: -140%;
    margin-top: 15%;
}
.mapadeequivalencias2 {
    margin-top: 15%;
    margin-left: 0%;
}

/* footer */
.pie-pagina {
    width: 300%;
}
.tycondiciones {
   
    margin-top: 5%;
  
}
}
















































/* Móviles en vertical */
@media (max-width:480px) and (min-width: 400px ){
    /* logo */
  .logo {
    margin-left: 3.5%;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    width: 100vw !important;
    margin: 0;
}

.nav-menu {
    width:100vw;
    height: 100vh;
    margin: 0;
}

.userMenuDiv {
    display: none;
}

/* footer */
.containerfooter {
    width: 100vw;
    background: rgba(0, 122, 53, 0.89);
    margin: 0;
    position: absolute;
    top: 68vh;
    // margin-top:100vh;
}

/* Vídeo Nutrifit Living */
.video {
    width: 350px;
    height: 175px;
    margin: 0;
    position: absolute;
    top: 10em;
    left: 2em;
  }


   /* formulario registro */
.contenedor__todo{
    width:80%;
    margin-top: 5%;
}
/* dieta */
.menu {
    margin-right: -210%;
    margin-top: 15%;
}

.titulo_de_servicios {
    margin-top: 32%;
    margin-left: 100%;
}
.dieta {
   width: 200%;
    margin-left: 50%;
}
/* Equivalencias */

.centarcontentEquivalencias{
    margin-left: 150%;
    margin-top: 10%;
}

  .containerEquivalencias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    padding-top: 10px;
    width: 960px;
    background-color: #cfffca;
    border: green 5px solid;
    border-radius: .5%;
    gap: 20px;
  }

  .itemsEquvalencias{
    width: 450px;
    margin-top: 15px;
    font-size: 230%;
    justify-self: center;

  }


/* footer */
.pie-pagina {
    width: 300%;
}
.tycondiciones {
   
    margin-top: 10%;
  
}
.menure {
    margin-right: -1%;
    margin-top: 7.5%;
  
}
.nombreDEpaginadondeseencuantraSECCIONES {
    font-size: 1.8em;
    }
    .nombreDEpaginadondeseencuantra {
    margin: 0;
    font-size:1.8em;

}

.menuSECCIONES {
    margin-right: -93%;
    margin-top: 15%;
    }

.contenedorservicios {
    justify-content: space-evenly;
    width: 300%;
    margin-top: 100px;
}

.fexcajas {
    border: 2.5px solid rgb(216, 216, 216);
    margin: 1.5rem;
    width: 400px;
    height: 400px;
    border-radius: 3%;
}

.imga {
    width: 370px;
    margin: 3.5%;
}



.titulo_de_servicios {
    margin-top: 50%;
    margin-left: 60%;
    font-size: 3.5em;
}

/* Productos recomendados */

.fexcajasPR {
    background: white;
    border: 1.5px solid rgb(216, 216, 216);
    border-radius: 1.5%;
    margin: 1rem;
    width: 380px;
    height: 400px;
    
}

.contenedorserviciosPRODUCTOS {
   width: 300%;
   justify-content: space-evenly;
   margin-top: 25%;
}

.fexcajasPR > img {
    width: 300px;
    margin: 10%;
    margin-top: 2%;
}
.titulo_de_servicios_productos {
    margin-top: 60%;
    margin-left: 100%;
    font-size: 4rem;
  }

  .boton_soriana {
    border: 2px solid #F53D00;
    border-radius: 10px;
    padding: 7px 19px;
    font-size: 1rem;
    margin: 10px;
    margin-top: -1.2%;
    width: 155px;
}
.boton_walmart {
    font-size: 1rem;
    margin-left: 198px;
    width: 155px;
}
.boton_aurrera {
    font-size: 1rem;
    margin: 10px;
    margin-top: -1.2%;
    width: 155px;
}

/* Recetarios */

.contenerya {
    display: flex;
    margin-top: -6%;
    flex-direction: row;
    width: 270%;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 300px;
    height: 380px;
    margin-top: 5%;
    margin: 4.5rem;
}
.card .back {
font-size: 15px;

}













}














































//  Celulares normales


@media (min-width: 200px) and (max-width: 399px) {

  /* logo */
  .logo {
    margin-left: 2.5%;
}


header {
    width: 100vw !important;
    margin: 0;
}

.nav-menu {
    width: 110vw;
    height: 100vh;
    margin: 0;
}

.userMenuDiv {
    display: none;
}


.container {
    // position: absolute;
   top: 4em;
   left: 0;
   margin: 0;
}

.containerSECCIONES {
    top: 3.1em;
    right: 10em;
    margin: 0;
}

.contenedorserviciosPRODUCTOS {
    margin: 7em  0 0 0;
}


.titulo_de_servicios_productos {
    font-size: x-large;
    margin: 3em 0 0 0;
}


/* footer */

.containerfooter {
    width: 110vw !important;
    background: rgba(0, 122, 53, 0.89);
    margin:0;
    height: 10em;
    position: relative;
    bottom: 20em;
}

.item-1 {
    height: 10em !important;
}

.item-2 {
    display: none;
}

.item-3 {
    font-size: small !important;
}


.ImagenFooterOpccion2 {
    margin: 5em 0.5em 0 0 !important;
    margin-bottom: 5em !important;
    width: 20em !important;
}

.imagenfooter {
    margin: 5em 0.5em 0 0 !important;
    margin-bottom: 5em !important;
    width: 20em !important ;
}

/* Vídeo Nutrifit Living */
.video {
    width:80vw;
    height:25vh;
    margin: 0;
    position: absolute;
    top: 10em;
    left: 2.2em;
  }


/* formulario registro */
.contenedor__todo{
width: 90%;
margin-top: 5%;
}


/* equivalencias */
.containerEquivalencias {
padding: 40px;
padding-top: 5px;
width: 1405px;
gap: 15px;
border: green 9px solid;
}

.titulo_de_equivalencias {
position: relative;
margin-top: 45%;
margin-left: 70%;
font-size: 5rem;
}

.centarcontentEquivalencias {
margin-left: 150%;
margin-top: 20%;
}

.itemsEquvalencias {
width: 730px;
font-size: 3em;
}

/* footer */
.pie-pagina {
width: 300%;
}
.tycondiciones {

margin-top: 5%;

}
/* dieta */
.menu {
margin-right: -200%;
margin-top: 15%;
}

.dieta {
width: 200%;
margin-left: 50%;
}
.menure {
margin-right: -1%;
margin-top: 7.5%;

}


/* footer */
.containerfooter {
width: 345%;
background: rgba(0, 122, 53, 0.89);
margin-top: 90%;
}

.item-1{
height: 280px;
}


.item-2{
font-size: 250%;
}

.item-3{
height: 90px;
font-size: 350%;
}

.imagenfooter{
width: 550px;
margin-top: 12%;
}
.ImagenFooterOpccion2{
width: 550px;
margin-top: 5%;
}



/* menus desplegables */
.menuSECCIONES {
margin-right: -80%;
margin-top: 15%;
}

.nombreDEpaginadondeseencuantraSECCIONES {
font-size: 3em;

}
.nombreDEpaginadondeseencuantra {
margin: 0%;
font-size: 3em;
}



.contenedorservicios {
    justify-content: space-evenly;
    width: 350%;
    margin-top: 180px;
}

.nombreDEpaginadondeseencuantra, .nombreDEpaginadondeseencuantraSECCIONES {
    font-size: small !important;
}


//  Estilos dieta


.infoFormPago h2{
    display: none;
}

.infoFormPago {
    background-color: transparent;
    border: transparent;
    width: min-content;
    height: min-content;
    padding: 0;
    top: 45em;
    right: 5em;
}

.formDietaGratis {
    font-size: large;
    margin: 0;
    position: absolute;
    top: 5em;
    width: 20em !important;
    left: 0.7em;
}

.titulo_de_servicios {
    font-size: 1.5em;
    margin: 5em 0 2em 0;
}


.containerMenuDes {
    position: absolute;
    top: 2em;
    right: 1em !important;
    margin: 0;
}

.menuSoloDeDieta {
    margin: 0;
}

.containerCards {
    display: none;
}

.footerEnDieta {
    display: none;
}

.btnChangeFormResponsive {
    top: 100em;
    left: -4.5em;
}





}