* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* font-family: 'Roboto', sans-serif; */
}

:root {
  --Colornutrifit: hsl(86, 54%, 51%);
  --ColorTitulo: hsl(88, 55%, 60%);
  --ColorSubTitulos: ;
  --Colornutrifit2: hsl(88, 60%, 49%) ;
  --FondoHoverBotons: hsl(88, 59%, 61%) ;
  --Color2nutri: #84c837;
  --Color3nutri: #86CE34;
  --Color4nutri:#89C644;
  --Color5nutri: #8AC53F;
  --Color6nutri:#68C53F;
  --Color7nutri:#bcd896;
  --Color8nutri:#89BC47;
  --Sobras3:#87B44F;
  --Sobras: #79AC37;
  --Sobras2:#68942F;
  --Colorletras: #3F8AC5;
  --Colorformularios: #2B5870;
  --Colorformularios2: #4592B3;
}

body {
  background-image: url(../imagenes/Fondosi2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 105px;
}

.contenedor__todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.caja__trasera {
  width: 100%;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: #52b69a;
}

.caja__trasera div {
  margin: 100px 40px;
  color: white;
  transition: all 900ms;
}

.caja__trasera div p,
.caja__trasera button {
  margin-top: 10px;
}

.caja__trasera div h3 {
  font-weight: 400;
  font-size: 26px;
}

.caja__trasera div p {
  font-size: 16px;
  font-weight: 300;
}

.caja__trasera button {
  padding: 10px 40px;
  border: 2px solid #fff;
  font-size: 14px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 800ms;
}

.caja__trasera button:hover {
  background: #fff;
  color: #227c9d;
}

/*Formularios*/
.contenedor__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -160px;
  left: 10px;
  /*La transicion va despues del codigo JS*/
  transition: left 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contenedor__login-register form {
  width: 100%;
  padding: 60px 20px;
  background: white;
  position: absolute;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 0px rgba(153, 217, 140, 0.48);
  /* border-color: #b5e48c; */
}

.contenedor__login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #38a3a5;
}

.contenedor__login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #F2F2F2;
  font-size: 16px;
  outline: none;
}

.contenedor__login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #38a3a5;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
}

.formulario__login {
  opacity: 1;
  display: block;
}

.formulario__register {
  display: none;
}

@media screen and (max-width: 850px) {
  main {
    margin-top: 50px;
  }
  .caja__trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }
  .caja__trasera div {
    margin: 0px;
    position: absolute;
  }
  /*Formularios*/
  .contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }
  .contenedor__login-register form {
    position: relative;
  }
}
/*# sourceMappingURL=styleslogin.css.map */