*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Colornutrifit: hsl(86, 54%, 51%);
    --ColorTitulo: hsl(88, 55%, 60%);
    --ColorSubTitulos: ; 
    --Colornutrifit2: hsl(88, 60%, 49%) ;
    --FondoHoverBotons: hsl(88, 59%, 61%) ;
    --Color2nutri: #84c837;
    --Color3nutri: #86CE34;
    --Color4nutri:#89C644;
    --Color5nutri: #8AC53F;
    --Color6nutri:#68C53F;
    --Color7nutri:#99CC57;
    --Color8nutri:#89BC47;
    --Sobras3:#87B44F;
    --Sobras: #79AC37;
    --Sobras2:#68942F;
    --Colorletras: #3F8AC5;
    --Colorformularios: #2B5870;
    --Colorformularios2: #4592B3;
  }
body{
    font-family: 'Montserrat', sans-serif;
    padding: 90px 20px 0px;
   
}

.header{
  /* background-color: var(--Colornutrifit2) ;    */
  background-color:transparent;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}
.nav-link{
    color: var(--Colornutrifit2);
    text-decoration: none;
    font-weight: bold;
}
.logo{
    /* width: 33%;
    height: 33%;
    margin-left: 0.7%; */
    display: block;
    height: 100%;
    width: 180px;
    margin-left: 0.8%;
    margin-top: 4px;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;

}
.nav-menu-item{
    font-size: 17.5px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    text-decoration: none;
    width:max-content;
    margin: 0 30px;
    padding: 7px 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 5px;
}
.nav-menu-link:hover,
.nav-menu-link_active{
    background-color: var(--Color4nutri);
    color: white;
    transition: .5s;
    opacity: 85%;
    border-radius: 20px;
   
}
.nav-toggle{
    color:white;
    background:none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

@media(max-width:423px){
    body{
      padding-top: 70px;
      /* background-color: var(--Colorformularios);       */
    }
    .header{
     background-color:#D6EAF8;
     height: 60px;
     position: fixed;
     width: 100%;
     top: 0;
     left: 0;
    }
    .nav-link{
        color: white;
        text-decoration: none;
        font-weight: bold;
    } 

.logo{
    /* width: 33%;
    height: 33%;
    margin-left: 0.7%; */
    display: block;
    color:white;
    background:none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}
.nav-menu{
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    list-style: none;
    background-color: #117A65;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
}
.nav-menu-item{
    line-height: 70px;
}

.nav-menu-link:hover,
.nav-menu-link_active{
    background: none;
    color:#8AC53F;
}
.nav-toggle{
    display: block;
}
/* .nav-toggle{
    display: block;
    
} */
.nav-menu_visible{
    left: 0;

}
}











