.hidden {
  opacity: 0;
}

:root {
  --colorForm: rgba(255, 255, 255, 0.587);
  --letrasForm: #1A759F;
  --colorText: #7fcc1a;
}

body {
  overflow-x: hidden;
}

.console-container {
  font-family: Khula;
  font-size: 4em;
  text-align: center;
  height: 300px;
  width: 1200px;
  display: block;
  position: absolute;
  color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

.pie-pagina {
  width: 100%;
  background-color: rgba(75, 172, 63, 0.8);
  position: absolute;
  background-color: rgba(0, 122, 53, 0.8);
  background-color: rgba(93, 170, 104, 0.8);
  margin-top: 41%;
}

.titulo_de_servicios {
  margin-top: 3em;
}

.formDietaGratis {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 30em;
  background-color: var(--colorForm);
  margin: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--Color4nutri);
  transition: all 0.3s ease-out;
}

.formDietaGratis div input {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: #1A759F;
  text-align: center;
  border-bottom: 2px solid black;
  width: 18em;
  height: 2em;
  padding: 1em;
}

.formDietaGratis div label {
  margin: 0 0 0 5em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.formDietaGratis div input::-moz-placeholder {
  color: #1A759F;
  text-decoration: double;
  font-size: large;
}

.formDietaGratis div input:-ms-input-placeholder {
  color: #1A759F;
  text-decoration: double;
  font-size: large;
}

.formDietaGratis div input::placeholder {
  color: #1A759F;
  -webkit-text-decoration: double;
          text-decoration: double;
  font-size: large;
}

.radioInputForm {
  margin: 1em 1em 1em -2em;
}

.alergiasInputs label input {
  margin: 0.25em 0;
}

.plato {
  width: 15em;
  margin: 0;
}

.plato img {
  width: inherit;
  margin: 2em 0;
}

.acomodoPreferencias select {
  margin: 1em 0 0 0;
  width: 7em;
  height: 2em;
  background-color: transparent;
  font-size: medium;
}

.acomodoEnfermedades select {
  font-size: medium;
  margin-left: 3em;
}

.acomodoActividades select {
  margin-left: 3em;
  width: 12em;
}

.acomodoEjercicioSemanal label input {
  margin-top: 0.7em;
}

.sepEjercSem {
  margin-bottom: 1em;
}

.acomodoEjercicioSemanal label p {
  width: 7em;
  margin: 0.5em 0 0 2em;
}

.acomodoDuracionEjerc {
  margin-left: 6em;
}

.acomodoformGratis {
  margin-left: 8em;
}

.acomodoformPersonalizado {
  position: absolute;
  top: 3.2em;
  right: 8em;
}

.infoFormPago button {
  border: 1px solid green;
  border-radius: 1em;
  color: #1A759F;
  text-align: center;
  width: 12em;
  padding: 0.2em;
  font-size: large;
  margin: 3em 0 0 0;
  transition: all 0.3s ease-out;
}

.infoFormPago button:hover {
  background-color: var(--colorText);
  color: white;
}

.showForm {
  pointer-events: none;
  opacity: 0;
}

.containerfooter {
  margin-top: 110em;
}

.objDisplay {
  display: none;
}

.minimizarForm {
  position: absolute;
  font-size: 0em;
}

.infoFormPago h2 {
  color: var(--colorText);
}

.infoFormPago {
  background-color: var(--colorForm);
  border: 1px solid var(--Color4nutri);
  border-radius: 1em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10em;
}

.moverInfoCardsLeft {
  position: absolute;
  top: 8.2em;
  left: -7em;
}

.moverInfoCardsRigth {
  position: absolute;
  top: 8.2em;
  right: 2em;
}

.container {
  position: absolute;
  right: 8em !important;
  margin-top: 2em;
}/*# sourceMappingURL=dieta.css.map */